.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  width: 100%;
}

.header {
  height: 10%;
  width: 100%;
  background-color: #41454e;
}

body > #root {
  height: 100vh;
}
.container {
  display:flex;
  flex-direction: row;
  height: 90%;
}

#editor {
  margin: 6px;
}

.canvasContainer {
  width: 50%;
  height: 72%;
  background-color: blue;
}

.editorContainer {
  display:flex;
  flex-direction: column;
  width: 50%;
  height: 72%;
  background-color: green;
}

.boxContainer {
  display: flex;
  align-items: center;
  justify-content: center;


}
